<link rel="stylesheet" type="text/css" href="style/form.css"/>
<ctitle message="查询报读情况"></ctitle>
<headerview></headerview>
<div class="form-view">
	<p class="form1 clearfix">
		<i class="select1_icon"></i>
		<select id="select1" name="">
			<option value="">请选择省</option>
		</select>
		<select id="select2" name="">
			<option value="">请选择市</option>
		</select>
	</p>
	<p class="form1">
		<i class="select3_icon"></i>
		<select id="select3" name="">
			<option value="">请选择餐厅</option>
		</select>
	</p>
	<a href="javascript:;" class="form-btn">查询餐厅报读情况</a>
	<div class="form-list">
		<p><img src="images/form_title.png" class="img" alt="" /></p>
		<ul id="shoreRank">
		</ul>
	</div>
</div>
<footerview></footerview>
<history></history>