
<ctitle message="麦当劳圆梦大学计划"></ctitle>
<headerview></headerview>
<div class="index-view">
	<div class="index-content">
		<h3 class="index-title">给店长的一封信</h3>
		<p class="index-f1">亲爱的餐厅经理：</p>
		<p class="index-f2">麦麦深信，最大的关爱，莫过于助力成长。看到伙伴们在这里完成华丽蜕变，拥有一技之长，自信面对未来，将是我们最骄傲的事。为此，<span style="color:#e6001f;">麦当劳携手教育部直属国家开放大学推出圆梦大学</span>这一重要平台，为年轻的孩子们创造宝贵的圆梦机会。而你们，麦麦家族的哥哥姐姐，我们诚邀您分享这个好消息，希望您化身伯乐，共同寻找身边的千里马。</p>
		<p class="index-f2">圆梦大学承载着麦胞们的梦想，如巨轮已然乘风破浪、驶向远方！点击下方查询按钮，即时了解您门店的参与情况。</p>
		<a href="#/form" class="index-btn">查询餐厅报读情况</a>
		<p class="index-f1" style="position: absolute; bottom: .15rem; text-align: center;"><a href="#/rule" style="text-decoration: underline;">查看团建奖励规则</a></p>
	</div>
	<div class="notice_slide">
    	<h2><img src="images/notice_tit.png" /></h2>
    	<div class="bd">
            <ul class="swiper-wrapper" id="notice_list">  

            </ul> 
        </div>
    </div>
</div>
<footerview></footerview>
<history></history>
