<link rel="stylesheet" type="text/css" href="style/more.css"/>
<ctitle message="更多活动"></ctitle>
<headerview></headerview>
<div class="more-view">
	<p><img src="images/more-img.png" class="img"/></p>
	<a class="adv" href="http://www.tt.zhulijihua.com/"><img class="img" src="images/act_img1.jpg"/></a>
	<a class="adv" href="http://mp.weixin.qq.com/s?__biz=MjM5NTg1NDY4MQ==&mid=2460053855&idx=1&sn=dd7ec687c6361e972afbba5a6c8ff7c3&scene=4#wechat_redirect"><img class="img" src="images/act_img2.jpg"/></a>
	<a class="adv" href="http://mp.weixin.qq.com/s?__biz=MjM5NTg1NDY4MQ==&mid=2460053844&idx=1&sn=05edbfbec62dbb88d53220d46ead0845&scene=4#wechat_redirect "><img class="img" src="images/act_img3.jpg"/></a>
	<a class="adv" href="http://mp.weixin.qq.com/s?__biz=MjM5NTg1NDY4MQ==&mid=2460053847&idx=1&sn=7bc63d9a9e283b7b1a5db5210aea6aa1&scene=4#wechat_redirect"><img class="img" src="images/act_img4.jpg"/></a>
</div>
<div class="more-nav display-box">
	<a class="flex-box1" href="javascript:;"><i class="cur"></i>活动分享</a>
	<a class="flex-box1" href="#/rule"><i></i>奖励规则</a>
</div>
<history></history>