<link rel="stylesheet" type="text/css" href="style/more.css"/>
<ctitle message="活动规则"></ctitle>
<div class="rule-view">
	<h3 class="ruleF1">亲爱的麦麦小组长：</h3>
	<p class="ruleF2">在这金秋收获的季节里，感谢麦胞们辛勤劳动的付出。为此，麦麦携手国家开放大学，共同为麦胞们精心打造了一艘“麦当劳圆梦大学”号游轮，它将带着我们的爱，载满麦胞们的大学梦，开启一场圆麦胞大学梦的旅行。</p>
	<p class="ruleF2">但在旅行开始之前，我们为麦胞们设计了一项评选“学习型餐厅”的热身活动，作为麦麦家族的小组队长，你们是这次活动的核心，是这艘游轮启航的小舵手。希望你们能够去寻找作为代表你们餐厅参加此次旅行的小伙伴，扩大并建设你餐厅的旅行小分队，为旅行掀开一场完美的序幕。</p>
	<p style="width: 5.6rem; margin: 0 auto;"><img src="images/result_d.png" class="img"/></p>
	<p class="ruleF2" style="text-align: center; margin-bottom: .2rem;"><span style="color: #ffea00;">*</span> 报读奖励有效日期：<span style="color: #ffea00;">9月1日-9月9日</span></p>
	<p class="ruleF2">另外，为方便麦麦小组长寻找旅行小伙伴，我们提供了一个寻找圆梦伙伴的工具，可帮助麦麦小组长统计已寻找伙伴的人数，同时也能向小伙伴们介绍此次旅途中的内容。现在请打开你的手机，<span style="color: #ffea00;">通过扫以下二维码，去寻找这次</span></br><span style="color: #FFEA00;">“麦当劳圆梦大学”之旅的小伙伴吧！</span></p>
	<p style="width: 3.2rem; height: 3.2rem; margin: .3rem auto;"><img class="img" src="images/ewm.png"/></p>
</div>
<div class="more-nav display-box">
	<a class="flex-box1" href="#/more"><i></i>活动分享</a>
	<a class="flex-box1" href="javascript:;"><i class="cur"></i>奖励规则</a>
</div>
<history></history>